.hero {
    background-color: #23232e !important;
    padding-top: 20px;
    padding-bottom: 20px;
    .jumbo-text {
        text-align: left;
        margin-top: 20px;
        margin-left: 20px;
    }
    img {
        max-width: 200px;
        margin-bottom: -25px;
    }

}