.employee {
  margin-right: 10px;
  margin-top: 5px;
  max-width: 400px;
  width: 300px;
  box-shadow: 10px 10px 23px -7px rgba(0,0,0,0.25);
  border-radius: 4px;
  display: inline-block;
  .row {
    padding: 10px;
    padding-bottom: 5px;
    margin-left: 5px;
    .image-profile {
      width: 60px;
      height: 50px;
      display: inline-block;
      img {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        margin-top: 5px;
      }
    }
    .col-name {
      display: inline-block;
      width: 140px;
      max-width: 180px;
      .employee-name {
        font-size: 13px;
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 10px;
        text-align: left !important;
      }
      .employee-nik {
        font-size: 13px;
        font-weight: normal;
        margin-bottom: -10px;
        color: grey;
        text-align: left !important;
      }
    }
    .col-time {
      display: inline-block;
      .employee-count {
        font-size: 13px;
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 10px;
        text-align: left !important;
      }
      .employee-profil {
        font-size: 11px;
        font-weight: normal;
        color: white;
        text-align: center;
        background-color: #EB6A4D;
        border-radius: 2px;
        padding: 2px;
      }
    }
  }
}
.employee:hover {
  background: #23232e;
  color: white
}





