.bottom-nav {
  box-shadow: -2px -3px 15px 0px rgba(0, 0, 0, 0.11);
  background-color: #FF6D22;
}

.cta-button {
  height: 50px;
  padding-top: 5px;
  margin-bottom: -10px;
}

.cta-text {
  font-size: 12px;
  display: block;
  color: #23232e;
  font-weight: bold;
}


